.desk {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  line-height: 10vw;
  font-size: 7vw;
  margin: 5vw;
  width: 50vw;
  height: 40vw;
}

.desk div {
  width: 10vw;
  height: 10vw;
  user-select: none;
}
