.root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  line-height: 10vh;
  font-size: 7vh;
  margin: 5vh;
  position: relative;
}

.root div {
  user-select: none;
  margin: 1vh;
}

@media only screen and (max-width: 768px) {
  .root {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    line-height: 8vh;
    font-size: 5vh;
  }
}
